{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="row">
    <div class="col-sm-12">


        <div class="row p-4 bgimagecls" style="margin-top: 13vh;">
            <div class="col-sm-12">
                <p class="text-center" style="color: #ff6900; font-size: 50px;" data-aos="fade-right" data-aos-delay="400">
                    <b>About SmartBuildHub</b></p>

                <p class="text-center"
                    style="font-size: 25px; margin-left: 50px; font-family:Georgia, 'Times New Roman', Times, serif;" data-aos="fade-right" data-aos-delay="400">
                    Revolutionizing the construction industry with innovative smart building solutions and<br />
                    sustainable practices.

                </p>
                <button type="button" class="btn"
                    style="background-color: #f5680a; margin-left: 35%; font-size: 20px;" data-aos="fade-up" data-aos-delay="400">Explore Services<i
                        class="fa-solid fa-angle-right"></i></button>
                <button type="button" class="btn ms-5"
                    style="background-color: #ee6409; margin-left: 80px; font-size: 20px;" data-aos="fade-up" data-aos-delay="400">Request a Quote<i
                        class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="row py-5" style="background-color:#161f2f;">
    <div class="col-sm-3 mx-auto">
        <h2 style="color: #ff6900; font-size: 30px;"> <i class="fa-solid fa-minus fa-lg" style="color:#ff6900"></i> Our
            Services <i class="fa-solid fa-minus fa-lg" style="color:#ff6900"></i></h2>
        </br>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1 style="color:aliceblue; font-size: 50px; margin-left: 300px;"><b>Comprehensive Construction
                    Solutions</b></h1>
            <br>
            <p style="color:whitesmoke; font-size: 18px; margin-left: 100px;">We offer a wide range of construction
                services tailored to meet the unique needs of each project, delivered with exceptional craftsmanship and
                attention to detail.

                .</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 mx-auto">
            <div class="row">

                <div class="col-sm-4 ">

                    <div class="card">
                        <div class="card-body">
                            <br>
                            <i class="fa-solid fa-border-all fa-2xl" style="color: #ff6900;"></i><br> <br />
                            <h2 class="card-title">Renovation & Remodeling</h2>
                            <p class="card-text"><span style="color: gray;">Breathe new life into existing structures
                                    with our comprehensive renovation and remodeling services.</span>
                                <br /><br />
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span
                                    style="color:gray">Kitchen & Bath Remodels</span><br /><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span
                                    style="color:gray">Historic Renovations</span><br /><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span
                                    style="color: gray">Commercial Retrofits</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body"><br>
                            <i class="fa-solid fa-users fa-2xl" style="color:#ff6900"></i><br><br>
                            <h2 class="card-title">Architectural Design</h2>
                            <p class="card-text"><span style="color: gray">Innovative architectural solutions that
                                    balance aesthetics, functionality, and sustainability..</span><br><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span style="color:gray">
                                    Concept Development</span><br><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span style="color:gray"> 3D
                                    Visualization</span><br><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span style="color:gray">
                                    Sustainable Design</span>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body"><br>
                            <i class="fa-solid fa-gears fa-2xl" style="color:#ff6900"></i><br><br>
                            <h2 class="card-title">Construction Management</h2>
                            <p class="card-text"><span style="color: gray;">Expert oversight of your project from
                                    concept to completion, ensuring efficiency and quality at .</span><br><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span
                                    style="color:gray">Project Planning</span><br><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span style="color:gray">
                                    Budget Management</span><br><br>
                                <i class="fa-solid fa-check" style="color: #ff6900;"></i> <span style="color:gray">
                                    Quality Control</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<!--start-->


<div class="row py-5 " style="background-color:#f9f6f4 ">
    <div class="col-sm-6 ">


        <h1 id="font"><span style="color:rgb(20, 20, 20); margin-left: 100px; font-size: 40px;">Sustainable
                Building</span>
            <h1 style="margin-left: 100px; font-size: 45px;color: black; font-size: 40px;">Practices</h1>
        </h1>

        <h6
            style="color:rgb(33, 34, 34); margin-left: 100px; font-family: 'Times New Roman', Times, serif; font-size: 20px; margin-left: 100px;">
            We're committed to environmentally responsible construction. Our sustainable building practices incorporate
            the latest green technologies and materials to minimize environmental impact while maximizing energy
            efficiency and occupant comfort.</h6>
        <h3 style="font-size: 30px; margin-left: 100px;">Energy Efficiency</h3>
        <p style="font-size: 20px; margin-left: 100px;">Solar integration and passive design strategies</p>

        <h3 style="font-size: 30px; margin-left: 100px;">Water Conservation</h3>
        <p style="font-size: 20px; margin-left: 100px;">Rainwater harvesting and low-flow fixtures</p>
        <h3 style="font-size: 30px; margin-left: 100px;">Recycled Materials</h3>
        <p style="font-size: 20px; margin-left: 100px;">Responsibly sourced and eco-friendly building materials</p>
        <button type="button" class="btn " style="background-color: #e66209; margin-left: 100px; font-size: 15px;">Learn
            About Our Green Initatives<i class="fa-solid fa-angle-right"></i></button>


    </div>
    <div class="col-sm-6">
        <img src="{% static 'img/15.jpg' %}" class="card-img-top" alt="..." height="600px" style="border-radius: 30px;"/>

    </div>
</div>

<div class="row py-5">
    <div class="col-sm-3 mx-auto">
        <h4 style="color: #ff6900;"> <i class="fa-solid fa-minus fa-lg" style="color:#ff6900"></i>OUR PROCESS
            <i class="fa-solid fa-minus fa-lg" style="color:#ff6900"></i>
        </h4>
    </div>
    <div class="row">
        <div class="col-sm-8 " style="margin-left: 420px;">
            <h1
                style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                How We Bring Your Vision to Life</h1>
        </div>
        <div class="row">
            <div class="col-sm-8" style="margin-left: 320px;">
                <p style="font-size: 20px;">
                    We follow a proven methodology to ensure your project is completed on time, within budget, and
                    exceeds your expectations.



                </p>
            </div>
            <div class="row p-4">
                <div class="col-sm-10 mx-auto">
                    <div class="row p-4">
                        <div class="col-sm-3 ">
                            <div class="card">
                                <div class="card-body">
                                    <br>
                                    <i class="fa-solid fa-border-all fa-2xl" style="color: #ff6900;"></i><br>
                                    <br />
                                    <h5 class="card-title">Project Planning</h5>
                                    <p class="card-text"><span style="color: gray;">Create your vision with our
                                            intuitive tools. Define requirements, set budgets, and establish timelines
                                            in a collaborative environment..</span>
                                        <br /><br />
                                    </p>
                                    <button type="button" class="btn "
                                        style="background-color: #ff6900; margin-left: 45px;">Learn More<i
                                            class="fa-solid fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body"><br>
                                    <i class="fa-solid fa-users fa-2xl" style="color:#ff6900"></i><br><br>
                                    <h5 class="card-title">Team Assembly</h5>
                                    <p class="card-text"><span style="color: gray">Connect with architects, contractors,
                                            and suppliers through our verified network to build your ideal construction
                                            team.</span><br><br>

                                    </p>
                                    <button type="button" class="btn "
                                        style="background-color: #ff6900; margin-left: 45px;">Learn More<i
                                            class="fa-solid fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body"><br>
                                    <i class="fa-solid fa-gears fa-2xl" style="color:#ff6900"></i><br><br>
                                    <h5 class="card-title">Project Execution</h5>
                                    <p class="card-text"><span style="color: gray;">Monitor progress in real-time,
                                            approve changes instantly, and maintain clear communication throughout
                                            construction. This is true</span><br><br>

                                    </p>
                                    <button type="button" class="btn "
                                        style="background-color: #ff6900; margin-left: 45px;">Learn More<i
                                            class="fa-solid fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body"><br>
                                    <i class="fa-solid fa-gears fa-2xl" style="color:#ff6900"></i><br><br>
                                    <h5 class="card-title">Project Completion</h5>
                                    <p class="card-text"><span style="color: gray;"> Receive comprehensive
                                            documentation, warranty information, and maintenance schedules for your new
                                            construction.</span><br><br>

                                    </p>
                                    <button type="button" class="btn "
                                        style="background-color: #ff6900; margin-left: 45px;">Learn More<i
                                            class="fa-solid fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--end-->






{% endblock %}